extends ../layout/index

block content
    main.container.mt-5
        .row
            .col-md-5
                img.img-fluid(src="img/nosotros.jpg", alt="About us")
            .col-md-7
                h1 #{page}
                blockquote Ut finibus consectetur elit vitae suscipit. Praesent urna nisl, consequat a tincidunt in, luctus in dui. Maecenas convallis volutpat mauris vel auctor. Nam elementum vulputate justo, sit amet elementum odio malesuada eget. Proin dignissim nisl vitae efficitur consequat. Cras sit amet erat quis dolor imperdiet bibendum.
                p Integer posuere sem non est pharetra, vitae sodales turpis vehicula. Mauris tellus turpis, ultrices sit amet consectetur rhoncus, convallis ultrices ex. Pellentesque nec accumsan dolor.
                p Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam tempus ex erat, eu varius justo gravida ac. In lobortis vulputate posuere. Aliquam porta pulvinar ultrices. Integer gravida purus ex. Aenean ultrices lorem quis nisi malesuada, nec efficitur massa commodo. Duis mattis ligula suscipit, dapibus dolor ut, euismod purus.
    
    .icons-list
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img.img-fluid.mb-4(src="img/icono_seguridad.svg", alt="")
                    h2.mb-4 Secure
                    p Maecenas vitae erat vulputate, luctus tortor vitae, laoreet nulla. Nam dolor nibh, blandit ut efficitur sit amet, laoreet eu orci. Nulla facilisi.
                .col-md-4
                    img.img-fluid.mb-4(src="img/icono_destinos.svg", alt="")
                    h2.mb-4 Closer
                    p Fusce ac posuere odio. Donec maximus quam ac ipsum rhoncus, sit amet dictum eros gravida. Proin feugiat euismod commodo. Proin at ante pharetra, maximus erat ac, bibendum erat.
                .col-md-4
                    img.img-fluid.mb-4(src="img/icono_precio.svg", alt="")
                    h2.mb-4 Best prices
                    p Pellentesque porttitor sem vel pulvinar mattis. Praesent tellus mi, iaculis eu pellentesque et, faucibus in enim. Pellentesque vel odio a lorem dictum congue sed et neque. Nullam ac vehicula magna. 
